*{
    margin: 0;
    padding: 0;

}
h2{
    display: flex;
    justify-content: center ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #757083;

}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 55vh;
    width: 40vh;
}
form {
    margin:2rem 0 1rem 0;
}
form select, input, button {
    width: 100%;
    border:none; 
    outline: none;
    border-radius : 0.75rem;
}
form input{
    border : 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left:0.5rem ;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:6rem;
    border-radius: 0.5rem;
    border : 1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg {
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    font-size: 1.05rem;
    background-color: #816E94;
    color: white;
    cursor: pointer;
}


